<h1>EJS Practice - <%= page %></h1>
<hr />
  <a href="/"><%- (page=="/") ? '<strong>Home</strong>' : 'Home' %></a> |
  <a href="/about"><%- (page=="/about") ? '<strong>About</strong>' : 'About' %></a> |
  <a href="/viewData"><%- (page=="/viewData") ? '<strong>View Data</strong>' : 'View Data' %></a>
<hr />
<br />