<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>


<div class="navbar bg-base-200">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
  </div>
</div>


    <div class="navbar-center hidden sm:flex">
      
      <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a class="active" href="/about">About</a></li>
        <li>
          <details>
            <summary>
              Theme
            </summary>
            <ul class="p-2 bg-base-100">
              <li><a href="/lego/sets?theme=technic">Technic</a></li>
              <li><a href="/lego/sets?theme=classic town">Classic Town</a></li>
              <li><a href="/lego/sets?theme=supplemental">Supplemental</a></li>
            </ul>
          </details>
        </li>
      </ul>
  </div>

  <br />

  <div class="container mx-auto">


    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <img class="w-full rounded-lg"
     src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png"
     alt="profile" />


      </div>
      <div class="prose">

        <p>My name is Gyeongrok Oh and I'm currently studying at Seneca Polytechnic.</p>

        <p>"This website is one that I've created, where each button corresponds to a category. 
          It loads data from JSON files and stores this data in JavaScript, 
          organized by themes such as 'view,' 'get started,' 'technic,' 'classic town,' and 'binocle.' 
          When users click on specific buttons, for example, 'view,' 'get started,' 'technic,' 'classic town,' or 'binocle,' 
          it displays the stored data, offering a tailored experience for visitors."</p>

      </div>

    </div>

  </div>
</body>

</html>